@charset "UFT-8";

@import url('header.css');

@import url('banner.css');

@import url('main.css');

@import url('footer.css');

:root {
    --branco: white;
    --preto: black;
    --cinza-claro: #d3d3d3;
    --cinza-header: linear-gradient(150.55deg, rgb(153, 151, 151) 30%, rgb(202, 200, 200) 70%);
    --cinza-azulado: #96A4AD;
    --branco-novo: #F2F2F2;
    --cinza: #BFBFBF;
    --cinza-escuro: #737373;
    --cinza-arroxado: #92929C;

    --font-principal: arial;
    --font_secundaria: arial;
}

body {
    background-color: var(--branco-novo);
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: normal;
}